@import "flip_cover.scss";
@include flip-cover("puddlejumper", "PuddleJumper", #f6861f);
@include flip-cover("pj-github", "GitHub", #333);
@include flip-cover("asteroids", "Stargate: Asteroid Assault", #f6861f);
@include flip-cover("aa-github", "GitHub", #333);
@include flip-cover("slappityslap", "Slappity Slap", #f6861f);
@include flip-cover("ss-github", "GitHub", #333);

$light: #eee;
$medium: #777;
$dark: #222;
$greenish: #7aa;
$bluish: rgba(140, 175, 210, 0.85);

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  visibility: hidden;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  background: #333;
}

.background {
  background-image: url('../imgs/clean-code.jpg');
  bottom: 0;
  height: 200%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -9999;
  transition: transform .1s;
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .2);
  padding-bottom: 20px;
}

.body * {
  border-radius: 7px;
}

.top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.top > header {
  background-color: $greenish;
  border-radius: 0;
  color: $light;
  padding-bottom: 5px;
}

.top h1 {
  left: 15px;
  float: left;
  font-size: 48px;
}

.nav {
  position: relative;
  float: right;
}

.nav-gradient {
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(120, 170, 170, 1)),
      to(rgba(0, 0, 0, 0))
    );
  border-radius: 0;
  min-height: 10px;
  position: relative;
}

.nav > li {
  position: relative;
  display: block;
  float: left;
  margin: 7px 20px 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

a:hover {
  color: $medium;
}

h1, h2, h3, h4 {
  color: $light;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  position: relative;
  margin: 0;
}

h3, h4 {
  color: $dark;
}

h4 {
  font-size: 18px;
}

.hr1 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.hr2 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));;
}

hgroup.title {
  border-radius: 5px;
  float: left;
  margin: 15px 10px;
  padding-left: 10px;
  position: relative;
  width: 400px;
  z-index: 999;
  transition: background-color .3s;
}

.main {
  width: 60%;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 110px auto;
}

.profile {
  width: 134px;
  height: 200px;
  float: left;
  position: relative;
  margin: 15px;
}

.flip-covers {
  float: right;
}

.flip-covers > div {
  float: right;
  clear: right;
  margin: 10px;
}

.sections {
  width: 700px;
  transition: top .1s, left .1s;
}

.sections > section {
  clear: both;
  border: none;
  background-color: $bluish;
  box-shadow: 0 0 15px $bluish;
  margin: 40px auto;
  padding: 15px;
  width: 670px;
}

.main > section > *:not(img, .contact) {
  width: 100%;
  padding-bottom: 10px;
}

.title, .subtitle {
  margin: 0px;
  font-size: 18px;
}

.title {
  font-size: 24px;
}

.skills {
  margin: 0;
  padding: 0 0 20px 0;
}

.skills li {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
}
