$light: #eee;
$medium: #777;
$dark: #222;
$greenish: #7aa;
$bluish: rgba(140, 175, 210, 0.85);

.print-only {
  display: none;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  visibility: hidden;
}

body {
  background: #333;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.background {
  background-image: url('../imgs/clean-code.jpg');
  bottom: 0px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: transform .1s;
  z-index: -9999;
}

.body {
  background-color: rgba(75, 75, 75, .7);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.body * {
  border-radius: 7px;
}

.main {
  width: 50%;
  min-width: 570px;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 100px auto 0;
}

.top {
  background-color: $greenish;
  border-radius: 0;
  color: $light;
  min-width: 601px;
  padding: 0 20px 5px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

.top h1 {
  left: 5px;
  float: left;
  font-size: 48px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

a:hover {
  color: $medium;
}

h1, h2, h3, h4 {
  color: $light;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  position: relative;
  margin: 0;
}

h3, h4 {
  color: $dark;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0;
}

.links {
  list-style-type: none;
  margin: 10px 15px;
}

.links img, .title img {
  height: 40px;
  margin: 0 0 0 7px;
  transition: height .2s;
}

.page-nav {
  left: 0;
  position: absolute;
  top: -200px;
  transition: top 1s ease;
}

.page-nav:hover {
  top: 100px;
}

.title img {
  float: right;
}

.links img:hover {
  height: 50px;
}

.inline {
  display: block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.hr1 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.hr2 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));;
}

hgroup.title {
  border-radius: 5px;
  float: left;
  margin: 15px 10px;
  padding-left: 10px;
  position: relative;
  width: 400px;
  z-index: 999;
  transition: background-color .3s;
}

.profile {
  float: left;
  height: 150px;
  margin: 5px;
  position: relative;
}

.sections {
  width: 100%;
  transition: top .1s, left .1s;
}

.sections > section {
  clear: both;
  border: none;
  background-color: $bluish;
  /* box-shadow: 0 0 15px $bluish; */
  margin: 40px auto;
  padding: 15px;
  width: calc(100% - 30px);
}

.main > section > *:not(img, .contact) {
  width: 100%;
  padding-bottom: 10px;
}

.title, .subtitle {
  margin: 0px;
  font-size: 18px;
}

.title {
  font-size: 24px;
}

.skills {
  margin: 0;
  padding: 0 0 20px;
}

.skills li {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
}
