.print-only {
  display: none; }

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden; }

body {
  background: #333;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%; }

.background {
  background: url("../imgs/clean-code.jpg") repeat-y;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.05s;
  -o-transition: transform 0.05s;
  transition: transform 0.05s;
  z-index: -9999; }

.body {
  background-color: rgba(100, 100, 100, 0.7);
  position: absolute;
  top: 0; }

.body * {
  border-radius: 7px; }

.main {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  margin: 100px auto 0;
  min-width: 600px;
  width: 75%; }

.top {
  background-color: #234;
  border-radius: 0;
  color: #eee;
  min-width: 601px;
  padding: 0 20px 5px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000; }

.top h1 {
  left: 5px;
  float: left;
  font-size: 2.5em; }

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  transition: color .2s ease-out; }

a:hover {
  color: #eee; }

.small {
  font-size: 0.7em; }

h1, h2, h3, h4 {
  color: #eee;
  font-family: 'Amaranth', sans-serif;
  font-weight: 500;
  position: relative;
  margin: 0; }

h3, h4 {
  color: #222; }

h4 {
  font-size: 1.1em; }

p {
  margin: 0; }

.links {
  list-style-type: none;
  margin: 10px 15px; }

.links img, .title img {
  height: 40px;
  margin: 0 0 0 7px;
  transition: height .2s; }

.page-nav {
  left: 0;
  position: absolute;
  top: -200px;
  transition: top 1s ease; }

.page-nav:hover {
  top: 100px; }

.title img {
  float: right; }

.links img:hover {
  height: 50px; }

.inline {
  display: block; }

.right {
  float: right; }

.left {
  float: left; }

.hr1 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  background-image: linear-gradient(to right, #ccc, #333, #ccc); }

.hr2 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

hgroup.title {
  border-radius: 5px;
  float: left;
  margin: 15px 10px;
  padding-left: 10px;
  position: relative;
  width: 400px;
  z-index: 999;
  transition: background-color .3s; }

.profile {
  float: left;
  height: 150px;
  margin: 20px 5px 5px;
  position: relative; }

.sections {
  width: 100%;
  transition: top .1s, left .1s; }

.sections > section {
  clear: both;
  border: none;
  background-color: rgba(135, 160, 200, 0.5);
  margin: 40px auto;
  padding: 15px;
  width: calc(100% - 30px); }

.main > section > *:not(img, .contact) {
  width: 100%;
  padding-bottom: 10px; }

.title,
.subtitle {
  margin: 0px;
  font-size: 18px; }

.title {
  font-size: 24px;
  font-weight: 700; }

.skills {
  margin: 0;
  padding: 0 0 20px; }

.skills li {
  font-weight: 700;
  list-style: none; }
  .skills li .sidenote {
    font-size: 18px;
    font-weight: 400;
    font-style: italic; }

.two-column {
  width: 50%;
  float: left; }
  .two-column ul {
    width: 90%; }

.white-bkgd {
  padding: 3px;
  background-color: white; }

@media only screen and (max-width: 650px) {
  ul.links {
    display: none; }

  header {
    font-size: medium; }

  .main {
    width: 96%;
    min-width: 390px; } }
@media only screen and (max-width: 400px) {
  body {
    font-size: larger; } }

/*# sourceMappingURL=main.css.map */
