@import "flip_cover.scss";
@include flip-cover("puddlejumper", "PuddleJumper", #f6861f);
@include flip-cover("pj-github", "GitHub", #333);
@include flip-cover("asteroids", "Stargate: Asteroid Assault", #f6861f);
@include flip-cover("aa-github", "GitHub", #333);
@include flip-cover("slappityslap", "Slappity Slap", #f6861f);
@include flip-cover("ss-github", "GitHub", #333);

$light: #eee;
$medium: #777;
$dark: #222;
$greenish: #7aa;
$bluish: #8eafd1;

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  visibility: hidden;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url('../imgs/clean-code.jpg');
  background-color: rgba(0, 0, 0, .2)
}

.body * {
  border-radius: 7px;
}

.top {
  width: 100%;
  background-color: $greenish;
  border-radius: 0;
  color: $light;
}

.nav {
  position: relative;
  float: right;
}

.nav-gradient {
  min-height: 10px;
  border-radius: 0;
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(120, 170, 170, 1)),
      to(rgba(0, 0, 0, 0))
    );
}

.nav > li {
  position: relative;
  display: block;
  float: left;
  margin: 7px 20px 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

a:hover {
  color: $medium;
}

h1, h2, h3, h4 {
  color: $light;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  position: relative;
  margin: 0;
}

h3, h4 {
  color: $dark;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 18px;
}

hgroup.title {
  float: left;
  margin: 15px 10px;
  width: 75%;
}

.contact {
  margin-top: 15px;
}

.main {
  width: 70%;
  box-shadow: 0 0 10px $light;
  margin: 20px auto;
  border: none;
  background-color: $bluish;
  font-family: 'Alegreya Sans', sans-serif;
}

.profile {
  width: 134px;
  height: 200px;
  float: left;
  position: relative;
  margin: 15px;
}

.top h1 {
  left: 15px;
  float: left;
  font-size: 48px;
}

.flip-covers {
  float: right;
}

.flip-covers > div {
  float: right;
  clear: right;
  margin: 10px;
}

.main > section {
  clear: both;
  margin: 15px;
}

.main > section > * {
  width: 100%;
  padding-bottom: 10px;
}

section > article > * {
}

.title, .subtitle {
  margin: 0px;
  font-size: 18px;
}

.title {
  font-size: 24px;
}

.skills {
  margin: 0;
  padding: 0 0 20px 0;
}

.skills li {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
}
