.puddlejumper-section, .puddlejumper-section * {
  box-sizing: border-box; }

.puddlejumper-section, .puddlejumper-section div {
  transition-duration: .6s; }

.puddlejumper-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: .375em .375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: .25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1); }

.puddlejumper-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
  margin-top: 5px; }
  .puddlejumper-button a {
    text-decoration: none;
    font-weight: bold;
    color: #f6861f; }

.puddlejumper-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em / 2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.puddlejumper-inner, .puddlejumper-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
  .puddlejumper-inner:after, .puddlejumper-outer:after {
    content: "PuddleJumper"; }

.puddlejumper-outer {
  background-color: #f6861f;
  transform: translateZ(0.25em); }

.puddlejumper-inner {
  background-color: #f8a050; }

.puddlejumper-section:hover {
  background: #EBEFF2; }
  .puddlejumper-section:hover .puddlejumper-button {
    opacity: 1; }
  .puddlejumper-section:hover .puddlejumper-cover {
    transform: rotateY(-120deg); }
  .puddlejumper-section:hover .puddlejumper-inner {
    background-color: #f6861f; }
  .puddlejumper-section:hover .puddlejumper-outer {
    background-color: #a85407; }
  .puddlejumper-section:hover .puddlejumper-cover, .puddlejumper-section:hover .puddlejumper-inner, .puddlejumper-section:hover .puddlejumper-outer {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }

.pj-github-section, .pj-github-section * {
  box-sizing: border-box; }

.pj-github-section, .pj-github-section div {
  transition-duration: .6s; }

.pj-github-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: .375em .375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: .25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1); }

.pj-github-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
  margin-top: 5px; }
  .pj-github-button a {
    text-decoration: none;
    font-weight: bold;
    color: #333; }

.pj-github-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em / 2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.pj-github-inner, .pj-github-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
  .pj-github-inner:after, .pj-github-outer:after {
    content: "GitHub"; }

.pj-github-outer {
  background-color: #333;
  transform: translateZ(0.25em); }

.pj-github-inner {
  background-color: #4d4d4d; }

.pj-github-section:hover {
  background: #EBEFF2; }
  .pj-github-section:hover .pj-github-button {
    opacity: 1; }
  .pj-github-section:hover .pj-github-cover {
    transform: rotateY(-120deg); }
  .pj-github-section:hover .pj-github-inner {
    background-color: #333; }
  .pj-github-section:hover .pj-github-outer {
    background-color: black; }
  .pj-github-section:hover .pj-github-cover, .pj-github-section:hover .pj-github-inner, .pj-github-section:hover .pj-github-outer {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }

.asteroids-section, .asteroids-section * {
  box-sizing: border-box; }

.asteroids-section, .asteroids-section div {
  transition-duration: .6s; }

.asteroids-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: .375em .375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: .25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1); }

.asteroids-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
  margin-top: 5px; }
  .asteroids-button a {
    text-decoration: none;
    font-weight: bold;
    color: #f6861f; }

.asteroids-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em / 2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.asteroids-inner, .asteroids-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
  .asteroids-inner:after, .asteroids-outer:after {
    content: "Stargate: Asteroid Assault"; }

.asteroids-outer {
  background-color: #f6861f;
  transform: translateZ(0.25em); }

.asteroids-inner {
  background-color: #f8a050; }

.asteroids-section:hover {
  background: #EBEFF2; }
  .asteroids-section:hover .asteroids-button {
    opacity: 1; }
  .asteroids-section:hover .asteroids-cover {
    transform: rotateY(-120deg); }
  .asteroids-section:hover .asteroids-inner {
    background-color: #f6861f; }
  .asteroids-section:hover .asteroids-outer {
    background-color: #a85407; }
  .asteroids-section:hover .asteroids-cover, .asteroids-section:hover .asteroids-inner, .asteroids-section:hover .asteroids-outer {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }

.aa-github-section, .aa-github-section * {
  box-sizing: border-box; }

.aa-github-section, .aa-github-section div {
  transition-duration: .6s; }

.aa-github-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: .375em .375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: .25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1); }

.aa-github-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
  margin-top: 5px; }
  .aa-github-button a {
    text-decoration: none;
    font-weight: bold;
    color: #333; }

.aa-github-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em / 2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.aa-github-inner, .aa-github-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
  .aa-github-inner:after, .aa-github-outer:after {
    content: "GitHub"; }

.aa-github-outer {
  background-color: #333;
  transform: translateZ(0.25em); }

.aa-github-inner {
  background-color: #4d4d4d; }

.aa-github-section:hover {
  background: #EBEFF2; }
  .aa-github-section:hover .aa-github-button {
    opacity: 1; }
  .aa-github-section:hover .aa-github-cover {
    transform: rotateY(-120deg); }
  .aa-github-section:hover .aa-github-inner {
    background-color: #333; }
  .aa-github-section:hover .aa-github-outer {
    background-color: black; }
  .aa-github-section:hover .aa-github-cover, .aa-github-section:hover .aa-github-inner, .aa-github-section:hover .aa-github-outer {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }

.slappityslap-section, .slappityslap-section * {
  box-sizing: border-box; }

.slappityslap-section, .slappityslap-section div {
  transition-duration: .6s; }

.slappityslap-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: .375em .375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: .25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1); }

.slappityslap-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
  margin-top: 5px; }
  .slappityslap-button a {
    text-decoration: none;
    font-weight: bold;
    color: #f6861f; }

.slappityslap-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em / 2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.slappityslap-inner, .slappityslap-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
  .slappityslap-inner:after, .slappityslap-outer:after {
    content: "Slappity Slap"; }

.slappityslap-outer {
  background-color: #f6861f;
  transform: translateZ(0.25em); }

.slappityslap-inner {
  background-color: #f8a050; }

.slappityslap-section:hover {
  background: #EBEFF2; }
  .slappityslap-section:hover .slappityslap-button {
    opacity: 1; }
  .slappityslap-section:hover .slappityslap-cover {
    transform: rotateY(-120deg); }
  .slappityslap-section:hover .slappityslap-inner {
    background-color: #f6861f; }
  .slappityslap-section:hover .slappityslap-outer {
    background-color: #a85407; }
  .slappityslap-section:hover .slappityslap-cover, .slappityslap-section:hover .slappityslap-inner, .slappityslap-section:hover .slappityslap-outer {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }

.ss-github-section, .ss-github-section * {
  box-sizing: border-box; }

.ss-github-section, .ss-github-section div {
  transition-duration: .6s; }

.ss-github-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: .375em .375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: .25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1); }

.ss-github-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
  margin-top: 5px; }
  .ss-github-button a {
    text-decoration: none;
    font-weight: bold;
    color: #333; }

.ss-github-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em / 2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.ss-github-inner, .ss-github-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
  .ss-github-inner:after, .ss-github-outer:after {
    content: "GitHub"; }

.ss-github-outer {
  background-color: #333;
  transform: translateZ(0.25em); }

.ss-github-inner {
  background-color: #4d4d4d; }

.ss-github-section:hover {
  background: #EBEFF2; }
  .ss-github-section:hover .ss-github-button {
    opacity: 1; }
  .ss-github-section:hover .ss-github-cover {
    transform: rotateY(-120deg); }
  .ss-github-section:hover .ss-github-inner {
    background-color: #333; }
  .ss-github-section:hover .ss-github-outer {
    background-color: black; }
  .ss-github-section:hover .ss-github-cover, .ss-github-section:hover .ss-github-inner, .ss-github-section:hover .ss-github-outer {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  visibility: hidden; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  background: #333; }

.background {
  background-image: url("../imgs/clean-code.jpg");
  bottom: 0;
  height: 200%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -9999;
  transition: transform .1s; }

.body {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  padding-bottom: 20px; }

.body * {
  border-radius: 7px; }

.top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

.top > header {
  background-color: #7aa;
  border-radius: 0;
  color: #eee;
  padding-bottom: 5px; }

.top h1 {
  left: 15px;
  float: left;
  font-size: 48px; }

.nav {
  position: relative;
  float: right; }

.nav-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#78aaaa), to(transparent));
  border-radius: 0;
  min-height: 10px;
  position: relative; }

.nav > li {
  position: relative;
  display: block;
  float: left;
  margin: 7px 20px 0 10px; }

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700; }

a:hover {
  color: #777; }

h1, h2, h3, h4 {
  color: #eee;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  position: relative;
  margin: 0; }

h3, h4 {
  color: #222;
  font-weight: 700;
  margin: 0; }

h4 {
  font-size: 18px; }

.hr1 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  background-image: linear-gradient(to right, #ccc, #333, #ccc); }

.hr2 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

hgroup.title {
  float: left;
  margin: 15px 10px;
  width: 75%; }

.main {
  width: 67%;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 110px auto; }

.profile {
  width: 134px;
  height: 200px;
  float: left;
  position: relative;
  margin: 15px; }

.flip-covers {
  float: right; }

.flip-covers > div {
  float: right;
  clear: right;
  margin: 10px; }

.main > section {
  clear: both;
  border: none;
  background-color: rgba(140, 175, 210, 0.85);
  box-shadow: 0 0 15px rgba(140, 175, 210, 0.85);
  margin: 40px auto;
  padding: 15px;
  width: 100%; }

.main > section > *:not(img, .contact) {
  width: 100%;
  padding-bottom: 10px; }

.title, .subtitle {
  margin: 0px;
  font-size: 18px; }

.title {
  font-size: 24px; }

.skills {
  margin: 0;
  padding: 0 0 20px 0; }

.skills li {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700; }

/*# sourceMappingURL=main.css.map */
